#accordion-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: #FFF;
  cursor: pointer;
  user-select: none;
}

#accordion-head\ true {
  background-color: #FFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: #FFF;
  cursor: pointer;
  user-select: none;
}

#accordion-title {
  color: #271718;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  text-align: left;
}

#accordion-container:first-child {
  min-height: fit-content;
  background-color: #FFF;
  border-top: 0.0625rem solid #E2E2E2;
}

#accordion-content {
  height: 10.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #F8F8F8;
  padding: 1.1875rem 1rem 2.3125rem 1rem;
  border: 0.0625rem solid #E2E2E2;
  gap: 0.875rem;
  overflow: hidden;
  transition: height .3s ease-in-out;
}

#accordion-content\ true {
  visibility: hidden;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height .3s ease-in-out;
}

@media (min-width: 1240px) {
  #accordion-content {
    background-color: #FFF;
    border-radius: 0 0 1rem 1rem;
    border: none;
  }

  #accordion-head {
    border-radius: 1rem 1rem 0 0;
    height: 4rem;
    position: relative;
  }

  #accordion-head\ true {
    border-radius: 1rem;
    background-color: #FFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: #FFF;
    cursor: pointer;
    user-select: none;
  }

  #accordion-container {
    border-radius: 1rem;
    border: 0.0625rem solid #E2E2E2;
    background-color: #FFF;
  }

  #accordion-head::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.08;
  }
}
